{{- $main := . -}}

{{- range .Decls.Structures -}}
{{- $struct := . }}

{{ .DoDocComments $main -}}
public class {{ $struct.NameUp }} {
    {{- range .Extends }}
    public {{ $main.DoType . }} {{ $main.DoType . }}; //XTEND
    {{- end -}}

    {{- range .Mixins }}
    public {{ $main.DoType . }} {{ $main.DoType . }}; //MIXIN
    {{- end -}}

    {{- range .Properties }}
    {{ .DoDocComments $main -}}
    {{- if eq .NameUp $struct.NameUp -}}
    public {{ $main.DoTypeOptional .Type ($main.If .HasConstVal false .Optional) }} {{ .NameUp }}_;
    {{- else -}}
    public {{ $main.DoTypeOptional .Type ($main.If .HasConstVal false .Optional) }} {{ .NameUp }};
    {{- end -}}
    {{- end }}
}

{{- end -}}
