{{- $bag := . -}}
{{- $tyStr := printf "%s" $bag.Type -}}

{{- if or
        (eq $tyStr "DocumentUri" "URI")
        ($bag.Main.IsEnumTypeName $tyStr)
        ($bag.Main.IsTypeKindOfArray $bag.Type)
        ($bag.Main.IsTypeKindOfMap $bag.Type)
        ($bag.Main.IsTypeKindOfOr $bag.Type)
        ($bag.Main.IsTypeKindOfStructure $bag.Type)
  -}}
    /*TOpt*/{{- $bag.Main.DoType $bag.Type -}}
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "string") -}}
    /*TOpt*/{{ index $bag.Main.Lang.BaseTypeMapping "string" }}?
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "integer") -}}
    /*TOpt*/{{ index $bag.Main.Lang.BaseTypeMapping "integer" }}?
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "uinteger") -}}
    /*TOpt*/{{ index $bag.Main.Lang.BaseTypeMapping "uinteger" }}?
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "decimal") -}}
    /*TOpt*/{{ index $bag.Main.Lang.BaseTypeMapping "decimal" }}?
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "boolean") -}}
    /*TOpt*/{{ index $bag.Main.Lang.BaseTypeMapping "boolean" }}?
{{- else -}}
    /*TOpt*/{{- $bag.Main.DoType $bag.Type -}}?
{{- end -}}
