{{- $main := . -}}

{{- range .Decls -}}
{{- $enum := . -}}

{{- if ($main.IsTypeKindOf $enum.Type "string") }}
{{ .DoDocComments $main -}}
public static class {{ $enum.Name }} {
    {{- range .Enumerants }}
    {{ .DoDocComments $main -}}
    public static readonly string {{ .NameUp }} = {{ .Value }};
    {{- end -}}
}
{{ else }}
{{ .DoDocComments $main -}}
public enum {{ $enum.Name }} {
    {{- range .Enumerants }}
    {{ .DoDocComments $main -}}
    {{ .NameUp }} = {{ .Value }},
    {{- end -}}
}
{{ end }}

{{- end -}}
