{{- $main := . -}}

{{- range .Decls -}}
{{- $struct := . }}

{{ .DoDocComments $main -}}
public class {{ $struct.NameUp }} {
    {{- range .Extends }}
    public {{ $main.DoType . }} {{ $main.DoType . }}; //XTEND
    {{- end -}}

    {{- range .Mixins }}
    public {{ $main.DoType . }} {{ $main.DoType . }}; //MIXIN
    {{- end -}}

    {{- range .Properties }}
    {{ .DoDocComments $main -}}
    public {{ $main.DoTypeOptional .Type ($main.If .HasConstVal false .Optional) }} {{ .NameUp }};
    {{- end }}
}

{{- end -}}
