{{- with $bag := . -}}
{{- with $tyStr := printf "%s" $bag.Type -}}

{{- if or
        (eq $tyStr "DocumentUri" "URI")
        ($bag.Main.IsEnumTypeName $tyStr)
        ($bag.Main.IsTypeKindArray $bag.Type)
        ($bag.Main.IsTypeKindMap $bag.Type)
        ($bag.Main.IsTypeKindOr $bag.Type)
        ($bag.Main.IsTypeKindStructure $bag.Type)
  -}}
    /*TOpt*/{{- $bag.Main.DoType $bag.Type -}}
{{- else if eq $tyStr "string"  -}}
    string?
{{- else if eq $tyStr "integer"  -}}
    int?
{{- else if eq $tyStr "uinteger"  -}}
    uint?
{{- else if eq $tyStr "decimal"  -}}
    double?
{{- else if eq $tyStr "boolean"  -}}
    bool?
{{- else -}}
    {{- $bag.Main.DoType $bag.Type -}}?
{{- end -}}

{{- end -}}
{{- end -}}
