{{- with $this := . -}}
{{- range .Items -}}
{{- with $enum := . -}}

{{- if eq $enum.Type "string" }}
{{ .DocComments $this -}}
public static class {{ $enum.Name }} {
    {{- range .Enumerants }}
    {{ .DocComments $this -}}
    public static readonly string {{ .NameUp }} = {{ .Value }};
    {{- end -}}
}
{{ else }}
{{ .DocComments $this -}}
public enum {{ $enum.Name }} {
    {{- range .Enumerants }}
    {{ .DocComments $this -}}
    {{ .NameUp }} = {{ .Value }},
    {{ end -}}
}
{{ end }}

{{- end -}}
{{- end -}}
{{- end -}}
