{{- $bag := . -}}
{{- $tyStr := printf "%s" $bag.Type -}}

{{- if or
        (eq $tyStr "DocumentUri" "URI")
        ($bag.Main.IsEnumTypeName $tyStr)
        ($bag.Main.IsTypeKindOfArray $bag.Type)
        ($bag.Main.IsTypeKindOfMap $bag.Type)
        ($bag.Main.IsTypeKindOfOr $bag.Type)
        ($bag.Main.IsTypeKindOfStructure $bag.Type)
  -}}
    /*TOpt*/{{- $bag.Main.DoType $bag.Type -}}
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "string") -}}
    /*TOpt*/string?
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "integer") -}}
    /*TOpt*/int?
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "uinteger") -}}
    /*TOpt*/uint?
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "decimal") -}}
    /*TOpt*/double?
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "boolean") -}}
    /*TOpt*/bool?
{{- else -}}
    /*TOpt*/{{- $bag.Main.DoType $bag.Type -}}?
{{- end -}}
