{{- $bag := . -}}
{{- $member_types := $bag.Type -}}

/*TTup*/public class {{ $bag.TypeIdentGen }} {
    {{- range $i, $mt := $member_types }}
    public {{ $bag.Main.DoType $mt }} {{$mt.NameSuggestion true}}{{$i}};
    {{- end -}}
}
