{{- $bag := . -}}
{{- $tyStr := printf "%s" $bag.Type -}}
{{- if and ($bag.Main.IsEnumTypeName $tyStr) ($bag.Main.IsTypeKindOf $bag.Type "string") -}}
/*{{- $bag.Type -}}*/string
{{- else -}}
{{- $bag.Type -}}
{{- end -}}
