
import (
	"fmt"
	"os"
)

{{ $main := . -}}

type Server struct {
	clientServerBase

	Lang struct {
		CompletionTriggerChars []string
		SignatureTriggerChars []string
		Commands []string
	}

	{{ range $main.Decls.Extras -}}
	{{- $msg := . -}}
	{{- if and $msg.IsClientToServer (not $msg.IsInit) -}}
	{{- range $msg.DocLines }}
	// {{ . }}
	{{- end }}
	On_{{ $msg.MethodNameSafe }} func(params *{{ $msg.UnaryParamsTypeName }}) (any, error)
	{{ end -}}
	{{- end -}}
}

{{- range $main.Decls.Extras -}}
{{- $msg := . }}
{{- if $msg.IsServerToClient }}
{{- range $msg.DocLines }}
// {{ . }}
{{- end }}
func (it *Server) {{if $msg.IsReq}}Request{{else}}Notify{{end}}_{{ $msg.MethodNameSafe }} (params *{{ $msg.UnaryParamsTypeName }}{{if $msg.IsReq}}, onResp func(*{{- if $msg.IsReq -}}{{- $main.DoType $msg.ResultType -}}{{- end -}}){{end}}) {
	var on_resp func(any){{- if $msg.IsReq -}} = clientServerOnResp(&it.clientServerBase, onResp){{- end }}
	go it.send("{{$msg.Method}}", params, {{ $msg.IsReq }}, on_resp)
}
{{- end }}
{{- end }}

func (it *Server) handleIncoming(raw map[string]any) *jsonRpcError {
	msg_id, msg_method :=raw["id"], raw["method"]

	switch msg_method, _ := msg_method.(string); msg_method {
	case "":  // msg is an incoming Response
		msg_id := fmt.Sprintf("%v", msg_id)
		handler := it.waiters[msg_id]
		delete(it.waiters, msg_id)
		go handler(raw["result"])
	{{- range $main.Decls.Extras -}}
	{{- $msg := . }}
	{{- if and $msg.IsClientToServer (not $msg.IsInit) }}
	case "{{$msg.Method}}":
		clientServerHandleIncoming(&it.clientServerBase, it.On_{{ $msg.MethodNameSafe }}, msg_method, msg_id, raw["params"])
	{{- end }}
	{{- end }}
	case "initialize":
		clientServerHandleIncoming(&it.clientServerBase, func(params *InitializeParams) (any, error) {
			init := &it.Initialized
			init.Client = params
			init.Server = &InitializeResult{
				ServerInfo: &struct {
					Name    string  "json:\"name\""
					Version *String "json:\"version\""
				}{Name: os.Args[0]},
			}
			caps := &init.Server.Capabilities
			caps.TextDocumentSync.TextDocumentSyncOptions = &TextDocumentSyncOptions{
				OpenClose: ptr(Boolean(it.On_textDocument_didClose != nil || it.On_textDocument_didOpen != nil)),
				Change: iIf(it.On_textDocument_didChange == nil, TextDocumentSyncKindNone, TextDocumentSyncKindFull),
			}
			if it.On_textDocument_completion != nil {
				caps.CompletionProvider = &CompletionOptions{ TriggerCharacters: it.Lang.CompletionTriggerChars }
			}
			caps.HoverProvider.Boolean = ptr(Boolean(it.On_textDocument_hover != nil))
			if it.On_textDocument_signatureHelp != nil {
				caps.SignatureHelpProvider = &SignatureHelpOptions{ TriggerCharacters: it.Lang.SignatureTriggerChars }
			}
			caps.DeclarationProvider.Boolean = ptr(Boolean(it.On_textDocument_declaration != nil))
			caps.DefinitionProvider.Boolean = ptr(Boolean(it.On_textDocument_definition != nil))
			caps.TypeDefinitionProvider.Boolean = ptr(Boolean(it.On_textDocument_typeDefinition != nil))
			caps.ImplementationProvider.Boolean = ptr(Boolean(it.On_textDocument_implementation != nil))
			caps.ReferencesProvider.Boolean = ptr(Boolean(it.On_textDocument_references != nil))
			caps.DocumentHighlightProvider.Boolean = ptr(Boolean(it.On_textDocument_documentHighlight != nil))
			caps.DocumentSymbolProvider.Boolean = ptr(Boolean(it.On_textDocument_documentSymbol != nil))
			caps.CodeActionProvider.Boolean = ptr(Boolean(it.On_textDocument_codeAction != nil))
			if it.On_textDocument_codeLens != nil {
				caps.CodeLensProvider = &CodeLensOptions{}
			}
			caps.DocumentFormattingProvider.Boolean = ptr(Boolean(it.On_textDocument_formatting != nil))
			caps.DocumentRangeFormattingProvider.Boolean = ptr(Boolean(it.On_textDocument_rangeFormatting != nil))
			caps.RenameProvider.RenameOptions = iIf(it.On_textDocument_rename == nil, nil, &RenameOptions{
				PrepareProvider: ptr(Boolean(it.On_textDocument_prepareRename != nil)),
			})
			if it.On_workspace_executeCommand != nil {
				caps.ExecuteCommandProvider = &ExecuteCommandOptions{Commands: it.Lang.Commands}
			}
			caps.SelectionRangeProvider.Boolean = ptr(Boolean(it.On_textDocument_selectionRange != nil))
			caps.CallHierarchyProvider.Boolean = ptr(Boolean(it.On_textDocument_prepareCallHierarchy != nil && it.On_callHierarchy_incomingCalls != nil && it.On_callHierarchy_outgoingCalls != nil))
			caps.TypeHierarchyProvider.Boolean = ptr(Boolean(it.On_textDocument_prepareTypeHierarchy != nil && it.On_typeHierarchy_subtypes != nil && it.On_typeHierarchy_supertypes != nil))
			caps.InlineValueProvider.Boolean = ptr(Boolean(it.On_textDocument_inlineValue != nil))
			caps.InlayHintProvider.Boolean=ptr(Boolean(it.On_textDocument_inlayHint!=nil))
			caps.WorkspaceSymbolProvider.Boolean = ptr(Boolean(it.On_workspace_symbol != nil))
			caps.Workspace = &struct {
				WorkspaceFolders *WorkspaceFoldersServerCapabilities "json:\"workspaceFolders\""
				FileOperations   *FileOperationOptions               "json:\"fileOperations\""
			}{
				WorkspaceFolders: &WorkspaceFoldersServerCapabilities{
					Supported: ptr(Boolean(it.On_workspace_didChangeWorkspaceFolders != nil)),
					ChangeNotifications: struct {
						String/*TOpt*/ *String
						Boolean/*TOpt*/ *Boolean
					}{
						Boolean: ptr(Boolean(it.On_workspace_didChangeWorkspaceFolders != nil)),
					},
				},
			}

			return init.Server, nil
		}, msg_method, msg_id, raw["params"])
	default: // msg is an incoming Request or Notification
		return &jsonRpcError{ Code: -32601, Message: "unknown method: " + msg_method}
	}

	return nil
}

// Forever keeps reading and handling LSP JSON-RPC messages incoming over `os.Stdin`
// until reading from `os.Stdin` fails, then returns that IO read error.
func (it *Server) Forever() error {
	{ // users shouldn't have to set up no-op handlers for these routine teardown lifecycle messages:
		old_shutdown, old_exit, old_initialized := it.On_shutdown, it.On_exit, it.On_initialized
		it.On_shutdown = func(params *Void) (any, error) {
			if old_shutdown != nil {
				return old_shutdown(params)
			}
			return nil, nil
		}
		it.On_exit = func(params *Void) (any, error) {
			if old_exit != nil {
				return old_exit(params)
			}
			os.Exit(0)
			return nil, nil
		}
		it.On_initialized = func(params *InitializedParams) (any, error) {
			if it.On_workspace_didChangeWatchedFiles != nil {
				it.Request_client_registerCapability(&RegistrationParams{
					Registrations: []Registration{
						{Method: "workspace/didChangeWatchedFiles", Id: "workspace/didChangeWatchedFiles",
							RegisterOptions: DidChangeWatchedFilesRegistrationOptions{Watchers: []FileSystemWatcher{
								{Kind: WatchKindChange | WatchKindCreate | WatchKindDelete,
									GlobPattern: GlobPattern{Pattern: ptr(String("**/*"))}}}}},
					},
				}, func(*Void) {})
			}
			if old_initialized != nil {
				return old_initialized(params)
			}
			return nil, nil
		}
	}

	return it.forever(it.handleIncoming)
}
