{{- $main := . -}}

{{- range .Decls.Structures -}}
{{- $struct := . }}

{{ .DoDocComments $main }}
type {{ $struct.NameUp }} struct {
    {{- range .Extends }}
    {{ $main.DoType . }}
    {{- end -}}

    {{- range .Mixins }}
    {{ $main.DoType . }}
    {{- end -}}

    {{- range .Properties }}
    {{ .DoDocComments $main }}
    {{ .NameUp }} {{ $main.DoTypeOptional .Type ($main.If .HasConstVal false .Optional) }} `json:"{{.Name}},omitempty"`
    {{- end }}
}

{{- end -}}
