{{- with $it := . -}}
struct {
    {{ range $it.Type.Properties }}
    {{ .DoDocComments $it.Dot }}
    {{ .NameUp }} {{ $it.Dot.DoTypeOptional .Type ($it.Dot.If .HasConstVal false .Optional) }}
    {{ end }}
}
{{- end }}
