{{- with $it := . -}}
{{- with $member_types := $it.Type.NonNull -}}

{{- if eq (len $member_types) 1 -}}
{{ $it.Main.DoTypeOptional (index $member_types 0) true }}
{{- else -}}
struct {
{{- range $member_types -}}
    {{.NameSuggestion true}} {{ $it.Main.DoTypeOptional . true }}
{{ end }}
}
{{- end }}

{{- end -}}
{{- end -}}
