{{- $bag := . -}}
{{- $tyStr := printf "%s" $bag.Type -}}

{{- if or
        ($bag.Main.IsEnumTypeName $tyStr)
        ($bag.Main.IsTypeKindOfArray $bag.Type)
        ($bag.Main.IsTypeKindOfMap $bag.Type)
        ($bag.Main.IsTypeKindOfOr $bag.Type)
  -}}
    /*TOpt*/ {{- $bag.Main.DoType $bag.Type -}}
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "string")  -}}
    /*TOpt*/ *String
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "integer")  -}}
    /*TOpt*/ *Integer
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "uinteger")  -}}
    /*TOpt*/ *Uinteger
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "decimal")  -}}
    /*TOpt*/ *Decimal
{{- else if ($bag.Main.IsTypeKindOf $bag.Type "boolean")  -}}
    /*TOpt*/ *Boolean
{{- else -}}
    /*TOpt*/ *{{- $bag.Main.DoType $bag.Type -}}
{{- end -}}
