{{ with $root := . }}
{{ range .Items }}
{{ with $enum := . }}

{{ .DocComments $root }}
type {{ $enum.Name }} {{ $enum.Type }}

{{ range .Enumerants }}
{{ .DocComments $root }}
const {{ $enum.Name }}{{ .NameCap }} {{ $enum.Name }} = {{ .Value }}
{{ end }}

// String returns ""{{range $i,$e := .Enumerants}} or "{{$e.NameCap}}"{{end}}"".
func (it {{ $enum.Name }}) String() string {
	switch it {
{{ range .Enumerants }}
		case {{ $enum.Name }}{{ .NameCap }}:
			return "{{ .NameCap }}"
{{ end }}
	}
	return ""
}

{{ end }}
{{ end }}
{{ end }}
