{{- with $it := . -}}
{{- range .Items -}}
{{- with $struct := . -}}

{{ .DoDocComments $it }}
type {{ $struct.Name }} struct {
    {{- range .Extends }}
    {{ $it.DoType . }}
    {{- end -}}

    {{- range .Mixins }}
    {{ $it.DoType . }}
    {{- end -}}

    {{- range .Properties -}}
    {{ .DoDocComments $it }}
    {{ .NameUp }} {{ $it.DoTypeOptional .Type ($it.If .HasConstVal false .Optional) }}
    {{- end }}
}

{{- end -}}
{{- end -}}
{{- end -}}
