import "net/url"

type DocumentURI string
type URI string

func (it DocumentURI) URL() (*url.URL, error) { return url.Parse(string(it)) }
func (it URI) URL() (*url.URL, error) { return url.Parse(string(it)) }

{{ range .Items }}
{{- with $type := . }}

{{- $type -}}

{{- end -}}
{{end}}
