{{- with $bag := . -}}
{{- with $member_types := $bag.Type -}}

struct {
{{- range $i, $mt := $member_types }}
    {{$mt.NameSuggestion true}}{{$i}} {{ $bag.Main.DoType $mt }}
{{- end }}
}

{{- end -}}
{{- end -}}
