{{- with $it := . -}}
{{- range .Items -}}
{{- with $struct := . -}}

{{ .DoDocComments $it }}
type {{ $struct.Name }} struct {
    {{ range .Properties }}
    {{ .DoDocComments $it }}
    {{ .NameUp }} {{ $it.DoTypeOptional .Type .Optional }}
    {{ end }}
}

{{- end -}}
{{- end -}}
{{- end -}}
