{{- $bag := . -}}

/*TStruc*/struct {
	{{ range $bag.Type.Properties }}
	{{ .DoDocComments $bag.Main }}
	{{ .NameUp }} {{ $bag.Main.DoTypeOptional .Type ($bag.Main.If .HasConstVal false .OptionalOrOr) }} `json:"{{ .Name }},omitempty"`
	{{ end }}
}
