{{ with $root := . }}
{{ range .Items }}
{{ with $enum := . }}

{{ range .DocLines }}{{ $root.Lang.CommentLinePrefix }}{{ . }}{{ "\n" }}{{ end }}type {{ $enum.Name }} {{ $enum.Type }}

const ({{ range .Enumerants }}
	{{ range .DocLines }}{{ $root.Lang.CommentLinePrefix }}{{ . }}{{ "\n" }}{{ end }}
	{{ $enum.Name }}{{ .NameCap }} {{ $enum.Name }} = {{ .Value }}
{{ end }})

{{ end }}
{{ end }}
{{ end }}
