import (
	"fmt"
)

{{ with $root := . }}
{{ range .Items }}
{{ with $enum := . }}

{{ .DocComments $root }}
type {{ $enum.Name }} {{ $enum.Type }}

{{ range .Enumerants }}
{{ .DocComments $root }}
const {{ $enum.Name }}{{ .NameCap }} {{ $enum.Name }} = {{ .Value }}
{{ end }}

// String implements `fmt.Stringer`.
func (it {{ $enum.Name }}) String() string {
	switch it {
{{ range .Enumerants }}
		case {{ $enum.Name }}{{ .NameCap }}:
			return "{{ .NameCap }}"
{{ end }}
	}
	return fmt.Sprintf("{{ $enum.Name }}(%#v)", it)
}

{{ end }}
{{ end }}
{{ end }}
