{{- with $it := . -}}
struct {
    {{- range $it.Type.Properties -}}
    {{ .DoDocComments $it.Main }}
    {{ .NameUp }} {{ $it.Main.DoTypeOptional .Type ($it.Main.If .HasConstVal false .Optional) }}
    {{- end -}}
}
{{- end }}
