{{- $main := . }}

{{- range .Items }}
{{- $alias := . }}

{{ $alias.DoDocComments $main }}
{{ if ($main.IsTypeKindOf $alias.Type "string") -}}
type {{ $alias.Name }} = String
{{ else if or ($main.IsTypeKindOfStructure $alias.Type) ($main.IsTypeKindOfOr $alias.Type) -}}
type {{ $alias.Name }} {{ $main.DoType $alias.Type }}
{{ else -}}
type {{ $alias.Name }} = {{ $main.DoType $alias.Type }}
{{ end -}}

{{- end }}
