{{ with $this := . }}
{{ range .Items }}
{{ with $enum := . }}

{{ .DocComments $this }}
type {{ $enum.Name }} {{ $enum.Type }}

{{ range .Enumerants }}
{{ .DocComments $this }}
const {{ $enum.Name }}{{ .NameUp }} {{ $enum.Name }} = {{ .Value }}
{{ end }}

// String returns ""{{range .Enumerants}} or "{{.NameUp}}"{{end}}, depending on the value of `it`.
func (it {{ $enum.Name }}) String() string {
	switch it {
{{- range .Enumerants }}
		case {{ $enum.Name }}{{ .NameUp }}:
			return "{{ .NameUp }}"
{{- end }}
	}
	return ""
}

{{ end }}
{{ end }}
{{ end }}
